body{
    /* padding: 0; */
    margin: 0;
}
.intro{
    background-image: url("https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    height: 100vh;
    background-size: cover;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.intro h2{
    color: white;
    font-size: 80px;
    font-family:serif;
    font-style: italic;
}
.navbar{
    /* background:black; */
    background: white;
    width: 100%;
    display: flex;
    overflow: hidden;
    position:fixed;
    justify-content: space-between;
    transition:0.7s;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 25px;
    font-family: cursive;
}
.navbar ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    padding:0px 40px;    
    
}
.navbar ul li a:hover{
    color: red;
}
.logo{
    /* background-blend-mode:soft-light; */
    mix-blend-mode:multiply;
    color: white;
    height: 100px;
}
.navbar.active{
    background: rgb(200,100,200);
}
.text{
    /* text-align: center; */
    align-items: center;
    margin: 50px 5%;
}
.text p{
    font-family: cursive;
}