@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Montserrat:ital,wght@0,600;1,500&family=Quintessential&family=Rubik+Maze&display=swap');
:root{
    --transition: all 0.3s ease;
    --Green_Treeline: #478559;

    --Purple_baseline: #161748;

    --Pink_highlight: #f95d9b;

    --Bluewater_lowlight: #39a0ca;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    /* color:black;  */
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
    font-size: 15px;
}
body{
    max-width: 100vw;
    background:var(--Purple_baseline);
    font-family: 'Quintessential', cursive;
}
.container{
    width:80%;
    margin: 0 auto;
}
nav{
    /* margin:0 2rem; */
    /* background: red; */
    background: white;
    height: 5rem;
    width: 100%;
    position: fixed;
    display: flex;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    top: 0;
    z-index: 2;
}
nav .container{
    display: flex;
    height: 100%;
    width: 80%;
    gap:1.2rem;
    align-items: center;
    justify-content: space-between;
}
nav .container ul{
    display: flex;
    gap: 2rem;
    height: 100%;
    /* width: 30rem; */
    align-items: center;
}
nav .container ul li a{
    color: gray;
    font-size: 1.2rem;
    transition: var(--transition);
}
nav .container ul li a:hover{
    border: 2px solid red;
    padding: 1rem;
    border-radius: 10%;
    color: var(--Bluewater_lowlight)
}
h1{
    font-size:3.6rem;
}
h2{
    font-size: 2.4rem;
}
p{
    font-family: 'Great Vibes', cursive;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.5rem;
}
nav .container h2{
    color: red;
    font-size: 2rem;
    font-family: 'Rubik Maze', cursive;
}
section{
    /* background: var(--Pink_highlight); */
    /* display: grid; */
    /* place-content: center; */    
    border:12px solid yellow;
    padding: 10rem 0 7rem;
    color: white;
    max-width: 100vw;
    /* padding-bottom: 3rem; */
    overflow-x: hidden;
    /* top: 0; */
}
img{
    width: 100%;
}
.btn{
    width: 6rem;
    height: 2.5rem;
    border-radius: 2rem;
    color: var(--Purple_baseline);
    font-family: 'Kaushan Script', cursive;
    transition: var(--transition);
    cursor: pointer;
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
    /* background: whea; */
}
.btn:hover{
    background: var(--Pink_highlight);
    color: white;
}
section.landing .container{
    display: grid;
    /* max-width: 100vw; */
    place-content: center;
    position: relative;
    top: 5rem;
    /* top: 0; */
    padding-bottom: 14rem;
}
section.landing .container{
    display: grid;
    grid-template-columns: 7fr 40fr 20fr;
    gap: 3rem;
}
section.landing .social{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 5rem;
    /* height: 100%; */
    justify-content: baseline;
    align-items: center;
}
section.landing .social a{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: 0.5;
    transition: var(--transition);
}
section.landing .social a i{
    color: black;
}
section.landing .social a:hover{
    opacity: 1;

}
section.landing .info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
}
section.landing .info h1{
    color: var(--Green_Treeline);
}
section.landing .profile .outer-circle{
    width: 24rem;
    height: 24rem;
    border: 2px solid red;
    border-radius: 50%;
    /* display: flex;    */

    position: relative;
    /* display: block; */
   animation: move 30s linear infinite;


}
section.landing .profile{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
section.landing .profile .outer-circle i{
    position: absolute;
    display: flex;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: black;
    /* font-size: 2.2rem;        */
}
section.landing .profile .outer-circle i:nth-child(1)
{
    top:calc(50% - 2rem);
    left: -2rem;
}
section.landing .profile .outer-circle i:nth-child(3)
{   
    right: calc(50% - 2rem);
    top: -2rem;
}
section.landing .profile .outer-circle i:nth-child(2)
{
    top: calc(50% - 2rem);
    right: -2rem;
}
section.landing .profile .outer-circle i:nth-child(4)
{
    right: calc(50% - 2rem);
    bottom: -2rem;
}
section.landing .profile .inner-circle{
    /* display: none; */
    position:absolute;
    width: 17rem;
    overflow: hidden;

    height: 17rem;
    /* display: block; */
    /* border-radius: 50%; */
    /* align-items: center; */
    /* justify-content: center; */
            /* position: relative; */
}
section.landing .profile .inner-circle img
{
    /* overflow: hidden;
    /* display: flex; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
@keyframes move{
    to{
        transform: rotate(360deg);
    }
}

section #heading{
    display: block;
    text-align: center;
    margin-bottom: 5rem;
    /* w    idth: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; */
}
section.about .container{
    display: grid;
    grid-template-columns: 20rem auto;
    /* height: 80%; */
    gap: 5rem;
    /* grid-template-columns: 20fr auto; */
}
section.about .container .profile{
    height: 100%;    
}
section.about .container .profile img{
    height: 80%;
}
section.about .container .info{
    /* padding:1rem 0; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 2rem; */
}
section.about .container .info p{
    color: gray;
}
.more{
    color: red;
}
.read-more{
    display: none;
}
.read-more.show{
    display: block;
}
.more:hover{
    text-decoration: underline;
}
section.skills .container{
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
section.skills .skill .upper{
    background:red;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}
section.skills .skill .upper .right{
    cursor: pointer;
    transition: var(--transition);
}
section.skills .skill .upper .right:hover{
    color: blue;
}
section.skills .skill .lower{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;   
    gap: 1rem;
    display: none;
    /* display: none; */
}
section.skills .skill .lower.open{
    display: block;
}
section.skills .skill .lower .item{
    display: flex;
    flex-direction: column;
}
section.skills .progress-area{
    width: 100%;
    display: flex;
    gap: 0.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
section.skills .progress-area .progress-bar{
    width: 100%;
    height: 1.2rem;

}
section.skills .item:nth-child(1) .progress-area .progress-bar .progress{
    background: white;
    width: 92%;
    height: 100%;
}
section.skills .item:nth-child(2) .progress-area .progress-bar .progress{
    background: white;
    width: 88%;
    height: 100%;
}
section.skills .item:nth-child(3) .progress-area .progress-bar .progress{
    background: white;
    width: 75%;
    height: 100%;
}
section.services .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
}
section.services .container .service{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
section.services .container .service span{
    width: 3rem;
    height: 3rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}
section.services .container .service:nth-child(1) span
{
    background: green;
}
section.services .container .service:nth-child(2) span
{
    background: blue;
}
section.services .container .service:nth-child(3) span
{
    background: red;
}
section.portfolio .container{
    display: flex;
    flex-direction: column;
}

section.portfolio .container .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 5rem;

}
section.portfolio .container .projects .work{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
section.portfolio .container .projects .work .links{
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
}

nav .container .i{
    display: none;
}
@media screen and (max-width:660px){
    body{
        background: black;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 0.7rem;
    }
    nav .container{
        width: 100%;
    }
    nav .container h2{
        margin-left: 2rem;
    }
    nav .container ul{
        position: fixed;
        top: 0;
        z-index: 0;
        height: 100vh;
        width: 15rem;
        background: white;
        flex-direction: column;
        padding-top: 2rem;
        box-shadow: 1rem 0rem 1rem rgba(0,0,0,0.2);
        text-align: center;

        /* align-items: center; */
        /* justify-content: center; */
        display: none;
    }
    nav .container ul li{
        padding: 1rem;
    }
    nav .container ul li a{
        color: black;
    }
    nav .container i{
        cursor: pointer;
        padding-right: 2rem;
    }
    nav .container i#close{
        display: none;
    }
    section{
        max-width: 100vw;
    }
    section.landing{
        max-width: 100vw;
        margin-top: -4rem;
        overflow-x: hidden;
        padding-bottom: 7rem;
    }   
    section.landing .container{

        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 auto;
        /* width: 90%; */
        /* justify-content: center; */

        /* grid-template-rows: 20% 50%; */
    }
    section.landing .container h1{
        text-align: center;
    }
    section.landing .container h4{
        text-align: center;
    }
    section.landing .container .info p{
        text-align: center;
    }
    section.landing .social{
        display: none;
    }
    section.landing .container .info{
        width: 90%;
        margin: 0 auto;
    }
    section.landing .container .btn{
        margin: 0 auto;
    }
    .btn{
        margin: 0 auto;
    }
    section.landing .profile{
        grid-row: 1;
        margin: 0 auto;

    }
    section.landing .profile .outer-circle{
        width: 16rem;
        height: 16rem;
    }
    section.landing .profile .inner-circle
    {
        width: 10rem;
        height: 10rem;
    }
    section.about .container{
        grid-template-columns: 1fr;
        /* width: 100%; */
        text-align: center;
        margin: 0 auto;
    }
    section.skills .container{
        width: 92%;
        margin: 0 auto;
        /* margin-right: 2rem; */

    }
    section.services .container{
        grid-template-columns: 1fr;
    }
    section.portfolio .container .projects{
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
}